
.menu-item {
    padding: 10px;
}

.fancy-slogan {
    color:blueviolet;
    font-family: "Brush Script MT";
    font-size: 150%
}

.menu-img {
    border-radius: 20%;
    padding: 10px;
}

.item-title {
    font-weight: bold;
    font-size: 120%;
}

.item-desc {
    font-size: 90%;
}

.add-button {
    border-radius: 42%;
    background-color: goldenrod;

}